/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  text-align: center;
  align-self: stretch;
  margin-bottom: 65px;
}
.footer-text {
  font-family: 'Roboto';
  font-size: 32px;
  color: #475569;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 48px;
  }
}
